<?xml version="1.0"?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true">
	</startup>
	<runtime>
		<legacyUnhandledExceptionPolicy enabled="1"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="libs"/>
		</assemblyBinding>
	</runtime>
</configuration>
